// colors.scss
// Color pallette

// Map Bubble Colors
$white: white;
$lightest-blue: #405480; //old: #F1F6FA
$light-blue: #405480;
$dark-blue: #405480; // old: #1F77B4

// OKMaps
$okm-red: #f58732;
$okm-blue: #405480;
$okm-gray: #808B8D;
$okm-light-gray: #E1E5E6;
$okm-green: #3a8058;
$okm-clouds: #eff3f4;

// Text colors
$medium-blue: #405480;
$dark-red: #d28024;
$black: black;
$author-green: #3a8058;
$abstract-gray: #333; //#5c6d7f; //old: #444444
$journal-gray: #5c6d7f; // old:#666666
$open-access: $okm-red;
$list_show_hide_button_border: $okm-clouds;